
/* ==================== */
/* ===== Left Nav ===== */
/* ==================== */

.leftNav
{
	padding-left:		2em;
}

.leftNav h3 {text-align: center;}

.leftNav .btn-ghost
{
	border:				none;
	background-color:	transparent;
	color:				#003399;
	/*color:				red;*/
}

.leftNav .btn-ghost:hover
{
	background-color:	rgba(38,60,112,0.1);
}

.leftNav .btn-ghost:active
{
	background-color:	rgba(38,60,112,0.9);
	color:				#F8B735;
}

.leftNav .btn-ghost.active
{
	border:				#CCCCCC thin solid;
	background-color:	rgba(38,60,112,0.9);
	color:				#FFFFFF !important;
}

.table-hover tbody > tr
{
	cursor:				pointer;
}

/*========================*/
/*===== Nav Colours ======*/
/*========================*/

.btn-va,
.navbar li a,
.nav-tabs li a,
.table-hover tbody>tr:hover,
.table-hover tbody>tr.active:hover td
{
	background-color:	rgba(255,143,28,1) !important;
	color:				#EEE !important;
}

.btn-va.active,
.navbar li.active,
.navbar li.active a,
.nav .active > a,
.nav li.active > a,
.table-hover tbody>tr.active td
{
	background-color:	rgba(246,162,86,1) !important;
	color:				#333 !important;
}

.btn-va:hover,
.active > a:hover,
.nav li > a:hover, 
.nav .nav-tabs li:hover,
.nav .nav-tabs li a:hover,
.nav .active > a:hover,
.nav .nav-tabs li.active a:hover{
	background-color:	rgba(246,162,86,1) !important;
}
