/* 
    Created on : Nov 1, 2017, 7:46:26 AM
    Author     : rory
*/
body {
	background-color:		#ff9900;
	color:					#777;
/*	background-color:		#CCCCCC;
	color:					#ff9900;*/
}

.orange {
	color:					#ff9900;
}

.grey {
	color:					#777;
}

h1 {
    overflow: hidden;
    text-align: center;
    /*font-size: 1.5em;*/
}

h1.orange:before,
h1.orange:after {
    border-top: 1px solid #ff9900;
    border-bottom: 1px solid #ff9900;
}

h1.grey:before,
h1.grey:after {
    border-top: 1px solid #777;
    border-bottom: 1px solid #777;
}

h1:before,
h1:after {
    content: "";
    display: inline-block;
    height: .2em;
    position: relative;
    vertical-align: middle;
    width: 10%;
    margin-bottom: .15em;
}
h1:before {
    right: 1em;
    margin-left: -50%;
}
h1:after {
    left: 1em;
    margin-right: -50%;
}
