body {
	overflow-x: hidden;
}

.faded {
	opacity:			0.5;
}

.translucent-background {
	display:			flex;
	margin:				0px auto;
	background-color:	rgba(255,183,115,0.9);
	/*border:				#000 solid thin;*/
	/*opacity:			0.6;*/
	color:				#111;
	width:				100vw;
	height:				100vh;

}

#homePage {
	margin-top:			10px;
	border:				3px solid red;
}

.pages {
	width:				100vw;
	height:				100vh;
	position:			relative;
	box-sizing:			border-box;
	display:			table;
	background-color:	rgba(255,183,115,0.9);
}

.pages h3 {
	margin-top:			70px;
	color:				#333;
}

.home {
	/*padding-top:		20px;*/
	/*background-color: #1e7e34; // #aaff33;*/
}

#home {
	/*background: transparent url('images/bg-1.png') center no-repeat center center cover !important;*/
/*	background: transparent url('../images/bg-1.jpg') no-repeat center center;
	background-size: cover;*/
}
.aboutUs {
	/*background-color: #a66300;*/
}

.services {
	background: transparent url('images/bg-2.png') center no-repeat center center cover !important;
	background-size: cover;
}

.viewPlans {
	/*background-color: #FFB240;*/
}

.contactUs {
	/*background-color: #FFB773;*/
}

.carouselHolder {
	/*display:		flex;*/
	width:  		45vw;
	/*height: 		43vh;*/
	margin: 		20vh auto;
	/*margin-top: 	10vh;*/
	/*margin-bottom: 	4vh;*/
	/*overflow:		hidden;*/
}

.carousel {
	max-width:  100% !important;
	max-height: 100% !important;
}

.bg-light {
	background-color:	#ff9500 !important;
}

.navbar a {
	color:				#EEE !important;
}

.active > a {
	color:				#333 !important;
}

.carousel-inner {
	background-color:	#FFF !important;
}

